h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 20px;
}

h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 18px;
}

p {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 15px;
    color: #323232;
}

a {
    text-decoration: none;
}

