.historical {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 0;
    gap: 20px;

    .left__historical {
        width: 48%;
        border-right: 2px solid rgba(0, 174, 255, 1);
        padding: 50px 0;

        @media screen and (max-width: 686px) {
            width: 100%;
            padding: 10px 0;
            border: none;
        }

        h2 {
            font-size: 25px;
            color: #3992ff;
            text-transform: uppercase;
            text-align: center;

            @media screen and (max-width: 768px) {
                font-size: 16px;
            }
        
            @media screen and (max-width: 425px) {
                font-size: 14px;
            }
        
            @media screen and (max-width: 320px) {
                font-size: 12px;
            }
        }
    }

    .right__historical {
        width: 48%;
        text-align: center;

        @media screen and (max-width: 686px) {
            width: 100%;
        }

        p {
            margin-left: 30px;


        @media screen and (max-width: 686px) {
            margin-left: 0;
        }
        }
    }
}

.structure {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    h2 {
        font-size: 25px;
        color: #3992ff;
        margin-bottom: 20px;
        text-transform: uppercase;
        text-align: center;

        @media screen and (max-width: 768px) {
            font-size: 16px;
        }
    
        @media screen and (max-width: 425px) {
            font-size: 14px;
        }
    
        @media screen and (max-width: 320px) {
            font-size: 12px;
        }
    }

    p {
        margin-bottom: 30px;
        text-align: center;
    }

    .structure__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
        flex-wrap: wrap;

        button {
            border: 1px solid #94c356;
            color: #fff;
            padding: 10px 10px;
            border-radius: 5px;
            background: #94c356;
            font-size: 15px;
            transition: all 300ms;
            text-transform: uppercase;
            cursor: pointer;

            @media screen and (max-width: 425px) {
                font-size: 12px;
            }

            @media screen and (max-width: 320px) {
                font-size: 10px;
            }

            &:hover {
                background: #fff;
                color: #94c356;
            }
        }

        button:nth-child(2) {
            background: #0082be;
            border: 1px solid #0082be;

            &:hover {
                background: #fff;
                color: #0082be;
            }
        }
    }

    // directors modal

    .directors__modal {
        background-color: white;
        margin: 0 auto;
        padding: 40px;
        border: 2px solid #3992ff;
        width: 90%;
        display: flex;
        flex-direction: column;
        display: none;
        position: absolute;
        overflow: auto;
        height: 500px;

        > div {
            display: none;
            flex-direction: column;
        }

        #directors__close {
            color: #323232;
            text-align: right;
            font-size: 28px;
            cursor: pointer;
            font-weight: bold;
            margin-bottom: 30px;
            text-shadow: 0 1px 0 #fff;
            opacity: 0.5;

            @media screen and (max-width: 1024px) {
                font-size: 23px;
            }

            @media screen and (max-width: 425px) {
                font-size: 18px;
            }

            @media screen and (max-width: 320px) {
                font-size: 13px;
            }
        }

        #directors__team {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            h3 {
                text-align: center;
                color: #3992ff;
            }
        }
    }

    // fin directors modal

    // permanents modal

    .permanents__modal {
        background-color: white;
        margin: 0 auto;
        padding: 40px;
        border: 2px solid #3992ff;
        width: 90%;
        display: flex;
        flex-direction: column;
        display: none;
        position: absolute;
        overflow: auto;
        height: 500px;

        > div {
            display: none;
            flex-direction: column;
        }

        #permanents__close {
            color: #323232;
            text-align: right;
            font-size: 28px;
            cursor: pointer;
            font-weight: bold;
            margin-bottom: 30px;
            text-shadow: 0 1px 0 #fff;
            opacity: 0.5;

            @media screen and (max-width: 1024px) {
                font-size: 23px;
            }

            @media screen and (max-width: 425px) {
                font-size: 18px;
            }

            @media screen and (max-width: 320px) {
                font-size: 13px;
            }
        }

        #permanents__team {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            h2 {
                text-align: center;
            }
        }
    }

    // fin permanents modal

    .container-card {
        position: relative;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin: 40px 0;

        .card {
            position: relative;
            background: #69a8f5de;
            margin: 20px;
            box-shadow: 0 15px 35px rgba(255, 255, 255, 0.2);
            border-radius: 15px;
            padding: 0 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            @media screen and (max-width: 425px) {
                padding: 0 40px;
            }

            &:hover .content {
                transform: translateY(-20px);
            }

            .content {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                transition: 0.5s;

                .imgBox {
                    position: relative;
                    width: 150px;
                    height: 150px;
                    border-radius: 50%;
                    overflow: hidden;
                    border: 10px solid rgba(255, 255, 255, 0.5);

                    
    @media screen and (max-width: 425px) {
        width: 120px;
        height: 120px;
    }

                    img {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .contentBox {
                    h3 {
                        color: black;
                        text-transform: uppercase;
                        font-family: "Poppins", sans-serif;
                        letter-spacing: 2px;
                        font-weight: 500;
                        font-size: 18px;
                        text-align: center;
                        margin: 20px 0 10px;
                        line-height: 1.1em;

                        @media screen and (max-width: 768px) {
                            font-size: 15px;
                        }
                    
                        @media screen and (max-width: 425px) {
                            font-size: 14px;
                        }
                    
                        @media screen and (max-width: 320px) {
                            font-size: 12px;
                        }

                        span {
                            font-size: 12px;
                            font-weight: 300;
                            text-transform: initial;

                            @media screen and (max-width: 768px) {
                                font-size: 10px;
                            }
                        
                            @media screen and (max-width: 425px) {
                                font-size: 9px;
                            }
                        
                            @media screen and (max-width: 375px) {
                                font-size: 8px;
                            }
                        }
                    }
                }
            }
        }
    }
}

// fin structure

.mission {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 50px 0;


    @media screen and (max-width: 1041px) {
        justify-content: center;
        gap: 40px;
    }

    .left__mission {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        box-shadow: 10px 10px 15px #dfdfdf;

        img {
            border-radius: 5px;
            box-shadow: 10px 10px 15px #dfdfdf;
            width: 100%;
        }
    }

    .right__mission {
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @media screen and (max-width: 1041px) {
            width: 100%;
            text-align: center;
        }

        h2 {
            font-size: 25px;
            color: #3992ff;
            text-transform: uppercase;
            margin-bottom: 10px;

            @media screen and (max-width: 768px) {
                font-size: 16px;
            }
        
            @media screen and (max-width: 425px) {
                font-size: 14px;
            }
        
            @media screen and (max-width: 320px) {
                font-size: 12px;
            }
        }

        p {
            margin-bottom: 10px;
        }
    }
}

.territory {
    padding: 50px 0;

    h2 {
        font-size: 25px;
        color: #3992ff;
        margin-bottom: 10px;
        text-transform: uppercase;
        text-align: center;

        @media screen and (max-width: 768px) {
            font-size: 16px;
        }
    
        @media screen and (max-width: 425px) {
            font-size: 14px;
        }
    
        @media screen and (max-width: 320px) {
            font-size: 12px;
        }
    }

    .territory__container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 30px;

        @media screen and (max-width: 425px) {
            gap: 0;
        }

        

        .territory__box {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin: 20px 0;
            width: 25%;

            @media screen and (max-width: 1194px) {
                width: 30%;
            }

            @media screen and (max-width: 995px) {
                width: 40%;
            }

            @media screen and (max-width: 746px) {
                width: 100%;
            }
    
    

            .territory__img {
                position: relative;
                width: 155px;
                height: 155px;
                border-radius: 50%;
                overflow: hidden;
                border: 10px solid rgba(255, 255, 255, 0.5);

                @media screen and (max-width: 425px) {
                    width: 125px;
                    height: 125px;
                }

                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            h3 {
                text-transform: uppercase;
                font-family: "Poppins", sans-serif;
            }
        }
    }
}
