.collectivity {
    .services {
        padding: 50px 0;

        h2 {
            font-size: 25px;
            color: #3992ff;
            margin-bottom: 30px;

            @media screen and (max-width: 899px) {
                text-align: center;
            }

            @media screen and (max-width: 768px) {
                font-size: 23px;
            }

            @media screen and (max-width: 425px) {
                font-size: 20px;
            }

            @media screen and (max-width: 375px) {
                font-size: 17px;
            }
        }
    }
}

.avantages__collectivity {
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #94c356;

    @media screen and (max-width: 393px) {
        padding: 50px 50px;
    }

    h2 {
        margin-bottom: 30px;
        text-transform: uppercase;
        color: #ffffff;
        font-size: 25px;

        @media screen and (max-width: 768px) {
            font-size: 23px;
        }

        @media screen and (max-width: 425px) {
            font-size: 20px;
        }

        @media screen and (max-width: 375px) {
            font-size: 14px;
        }
    }
}

.contact__collectivity {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0;

    h2 {
        color: #3992ff;
        margin-bottom: 30px;

        span {
            position: relative;

            &::after {
                content: "";
                display: block;
                position: absolute;
                bottom: -5px;
                height: 2px;
                width: 100%;
                background: #94c356;
            }
        }
    }

    p {
        margin: 20px 0;
    }
}
