.home {
   
    section.services {
        padding: 50px 0;

        h2 {
            font-size: 25px;
            color: #3992ff;
            margin-bottom: 30px;

            @media screen and (max-width: 899px) {
                text-align: center;
            }

            @media screen and (max-width: 768px) {
                font-size: 23px;
            }

            @media screen and (max-width: 425px) {
                font-size: 20px;
            }

            @media screen and (max-width: 375px) {
                font-size: 17px;
            }
        }

        .services__list {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            @media screen and (max-width: 1312px) {
                gap: 20px;
            }

            @media screen and (max-width: 899px) {
                align-items: center;
                justify-content: center;
            }

            .service {
                width: 350px;
                height: 200px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 5px;
                box-shadow: 10px 10px 15px rgb(223 223 223);

                &:hover {
                    cursor: pointer;
                    p {
                        transform: scale(1.2);
                    }
                }

                &.individual {
                    background: url("../../../public/images/particular.jpg");
                    background-repeat: no-repeat;
                    background-size: cover;
                    filter: contrast(120%);
                }

                &.pro {
                    background: url("../../../public/images/jobseeker.jpeg");
                    background-repeat: no-repeat;
                    background-size: cover;
                    filter: contrast(120%);
                }

                &.community {
                    background: url("../../../public/images/community.jpg");
                    background-repeat: no-repeat;
                    background-size: cover;
                    filter: contrast(120%);
                }

                // &.jobseekers {
                //     background: url("../../../public/images/jobseeker.jpeg");
                //     background-repeat: no-repeat;
                //     background-size: cover;
                // }

                p {
                    width: 65%;
                    text-align: center;
                    font-size: 20px;
                    font-weight: 600;
                    line-height: 30px;
                    color: #fff;
                    padding: 3px;
                    transition: all 300ms;
                    background: rgba(0,0,0,0.1);
                    backdrop-filter: grayscale(1) contrast(1) blur(2px);
                }
            }
        }
    }

    section.about {
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 50px 0;

        @media screen and (max-width: 1159px) {
            flex-direction: column;
        }

        img {
            border-radius: 5px;
            box-shadow: 10px 10px 15px rgb(223 223 223);
            width: 100%;
        }

        .about__content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: baseline;
            h2 {
                font-size: 25px;
                color: #3992ff;
                margin-bottom: 30px;

                @media screen and (max-width: 1159px) {
                    text-align: center;
                }

                @media screen and (max-width: 768px) {
                    font-size: 22px;
                }

                @media screen and (max-width: 425px) {
                    font-size: 20px;
                }

                @media screen and (max-width: 375px) {
                    font-size: 17px;
                }
            }

            p {
                line-height: 25px;
                margin-bottom: 30px;
            }

            a {
                border: 1px solid #3992ff;
                color: #fff;
                padding: 10px 10px;
                border-radius: 5px;
                background: #3992ff;
                font-size: 15px;
                transition: all 300ms;

                @media screen and (max-width: 425px) {
                    font-size: 12px;
                }

                @media screen and (max-width: 320px) {
                    font-size: 10px;
                }

                &:hover {
                    background: #fff;
                    color: #3992ff;
                }
            }
        }
    }

    section.jobs {
        padding: 50px 0;

        h2 {
            font-size: 25px;
            color: #3992ff;
            margin-bottom: 30px;

            @media screen and (max-width: 768px) {
                font-size: 23px;
            }

            @media screen and (max-width: 425px) {
                font-size: 20px;
            }

            @media screen and (max-width: 375px) {
                font-size: 17px;
            }
        }

        .jobs__list {
            display: flex;
            gap: 20px;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;

            .job {
                width: 20%;
                padding: 20px;
                box-shadow: 0px 0px 15px #dfdfdf;
                border-radius: 5px;
                background: #fff;
                transition: all 300ms;

                @media screen and (max-width: 1334px) {
                    width: 27%;
                }

                @media screen and (max-width: 1052px) {
                    width: 40%;
                }

                @media screen and (max-width: 624px) {
                    width: 100%;
                }

                &:hover {
                    transform: scale(1.1);
                }

                h3 {
                    color: #3992ff;
                    margin-bottom: 20px;
                }

                p {
                    line-height: 25px;
                    margin-bottom: 30px;
                    height: 150px;
                }

                .job__infos {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    > div {
                        display: flex;
                        gap: 20px;

                        @media screen and (max-width: 1405px) {
                            gap: 10px;
                        }

                        span {
                            font-family: "Poppins", sans-serif;
                            font-weight: 300;
                            font-size: 12px;

                            i {
                                color: #3992ff;
                            }
                        }
                    }

                    a {
                        border: 1px solid #3992ff;
                        color: #fff;
                        padding: 10px 10px;
                        border-radius: 5px;
                        background: #3992ff;
                        font-size: 15px;
                        transition: all 300ms;

                        @media screen and (max-width: 425px) {
                            font-size: 12px;
                        }

                        @media screen and (max-width: 320px) {
                            font-size: 10px;
                        }

                        &:hover {
                            background: #fff;
                            color: #3992ff;
                        }
                    }
                }
            }
        }
    }
}
