.jobOffers {
    section.jobs {
        padding: 50px 0;

        h2 {
            font-size: 25px;
            color: #3992ff;
            margin-bottom: 30px;

            @media screen and (max-width: 768px) {
                font-size: 16px;
            }
        
            @media screen and (max-width: 425px) {
                font-size: 14px;
            }
        
            @media screen and (max-width: 320px) {
                font-size: 12px;
            }
        }

        .jobs__list {
            display: flex;
            gap: 20px;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;

            // @media screen and (max-width: 700px) {
            //     flex-direction: column;
            // }

            .job {
                width: 100%;
                padding: 20px;
                box-shadow: 0px 0px 15px #dfdfdf;
                border-radius: 5px;
                background: #fff;
                transition: all 300ms;

                &:hover {
                    transform: scale(1.1);
                }

                h3 {
                    color: #3992ff;
                    margin-bottom: 20px;
                }

                p {
                    line-height: 25px;
                    margin-bottom: 30px;
                }

                .job__infos {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    > div {
                        display: flex;
                        gap: 20px;

                        @media screen and (max-width: 1405px) {
                            gap: 10px;
                        }

                        span {
                            font-family: "Poppins", sans-serif;
                            font-weight: 300;
                            font-size: 12px;

                            i {
                                color: #3992ff;
                            }
                        }
                    }

                    a {
                        border: 1px solid #3992ff;
                        color: #fff;
                        padding: 10px 10px;
                        border-radius: 5px;
                        background: #3992ff;
                        font-size: 15px;
                        transition: all 300ms;

                        @media screen and (max-width: 768px) {
                            font-size: 14px;
                        }

                        @media screen and (max-width: 425px) {
                            font-size: 12px;
                        }

                        @media screen and (max-width: 375px) {
                            font-size: 10px;
                        }

                        &:hover {
                            background: #fff;
                            color: #3992ff;
                        }
                    }
                }
            }
        }
    }

    .contact__jobs {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 50px 0;

        h2 {
            font-family: "Poppins", sans-serif;
            color: #3992ff;
            line-height: 45px;

            span {
                position: relative;

                &::after {
                    content: "";
                    display: block;
                    position: absolute;
                    bottom: -5px;
                    height: 2px;
                    width: 100%;
                    background: #94c356;
                }
            }
        }

        p {
            margin: 20px 0;
        }
    }
}
