.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 110px 0;

    h3 {
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-size: 18px;
        color: #323232;
        text-transform: uppercase;
        margin-bottom: 30px;
    }

    form {
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .form__group {
            position: relative;
            padding: 15px 0 0;
            margin-top: 10px;
            width: 50%;
        }

        .form__field {
            font-family: "Poppins", sans-serif;
            width: 100%;
            border: 0;
            border-bottom: 2px solid $blue;
            outline: 0;
            font-size: 13px;
            color: $blue;
            padding: 7px 0;
            background: transparent;
            transition: border-color 0.2s;

            &::placeholder {
                color: transparent;
            }

            &:placeholder-shown ~ .form__label {
                font-size: 13px;
                cursor: text;
                top: 20px;
            }
        }

        .form__label {
            position: absolute;
            top: 0;
            display: block;
            transition: 0.2s;
            font-size: 13px;
            color: $blue;
        }

        .form__field:focus {
            ~ .form__label {
                position: absolute;
                top: 0;
                display: block;
                transition: 0.2s;
                font-size: 13px;
                color: $primary;
                font-weight: 700;
            }
            padding-bottom: 6px;
            font-weight: 700;
            border-width: 3px;
            border-image: linear-gradient(to right, $primary, $secondary);
            border-image-slice: 1;
        }
        .form__field {
            &:required,
            &:invalid {
                box-shadow: none;
            }
        }
    }
}
