.particular {
    .services {
        padding: 50px 0;

        h2 {
            font-size: 25px;
            color: #3992ff;
            margin-bottom: 30px;

            @media screen and (max-width: 899px) {
                text-align: center;
            }

            @media screen and (max-width: 768px) {
                font-size: 23px;
            }

            @media screen and (max-width: 425px) {
                font-size: 20px;
            }

            @media screen and (max-width: 375px) {
                font-size: 17px;
            }
        }

        .services__card {
            padding: 50px 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 40px;

            .single__service {
                text-align: center;
                background: #ffffff;
                box-shadow: 0px 0px 15px #dfdfdf;
                width: 30%;
                transition: all 300ms;
                border-radius: 6px;
                overflow: hidden;

                &:hover {
                    transform: scale(1.1);
                }

                @media screen and (max-width: 999px) {
                    width: 45%;
                }

                @media screen and (max-width: 630px) {
                    width: 100%;
                }

                .services__header {
                    height: 200px;
                    position: relative;

                    h2 {
                        color: #ffffff;
                        background: #3992ff;
                        border: 1px solid #3992ff;
                        text-align: center;
                        padding: 15px;
                        position: absolute;
                        cursor: pointer;
                        letter-spacing: 2px;
                        font-size: 18px;
                        margin: 0;
                        border-radius: 50px;
                        top: 100%;
                        left: 50%;
                        transform: translate(-50%, -50%);

                        &:hover {
                            background: #fff;
                            color: #3992ff;
                        }
                    }
                }

                .services__text {
                    padding: 40px 30px;
                }
            }
        }
    }

    .contact__particulars {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 50px 0;

        h2 {
            color: #3992ff;
            margin-bottom: 30px;

            span {
                position: relative;

                &::after {
                    content: "";
                    display: block;
                    position: absolute;
                    bottom: -5px;
                    height: 2px;
                    width: 100%;
                    background: #94c356;
                }
            }
        }

        p {
            margin: 20px 0;
        }
    }
}

.avantages {
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #94c356;

    h2 {
        margin-bottom: 30px;
        text-transform: uppercase;
        color: #ffffff;
    }

    .avantages__container {
        display: flex;
        gap: 40px;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;

        .avantages__box {
            width: 25%;
            padding: 20px;

            @media screen and (max-width: 999px) {
                width: 40%;
            }

            @media screen and (max-width: 799px) {
                width: 100%;
                text-align: center;
            }

            h3 {
                color: #323232;
                text-transform: uppercase;
            }

            .avantages__top {
                display: flex;
                gap: 20px;
                align-items: center;
                margin-bottom: 20px;

                @media screen and (max-width: 799px) {
                    justify-content: center;
                }

                i {
                    color: #323232;
                    font-size: 25px;
                }
            }
        }
    }
}

.impot {
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;

    img {
        width: 150px;
    }

    h2 {
        margin-bottom: 20px;
    }
    .right{

        @media screen and (max-width: 605px) {
            text-align: center;
        }
    }
}
