form {
    width: 50%;
    border-radius: 6px;
    box-shadow: 10px 10px 15px 10px #dfdfdf;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 40px;

    @media screen and (max-width: 975px) {
        width: 60%;
    }

    @media screen and (max-width: 768px) {
        width: 70%;
    }

    @media screen and (max-width: 425px) {
        width: 90%;
    }

    .input-box {
        height: 50px;
        width: 100%;
        margin: 12px 0;

        input,
        textarea {
            height: 100%;
            width: 100%;
            border: none;
            outline: none;
            font-family: "Poppins", sans-serif;
            font-size: 15px;
            background-color: #f0f1f8;
            border-radius: 6px;
            padding-left: 10px;
            resize: none;

            @media screen and (max-width: 768px) {
                font-size: 14px;
            }

            @media screen and (max-width: 425px) {
                font-size: 12px;
            }

            @media screen and (max-width: 375px) {
                font-size: 10px;
            }
        }

        textarea {
            padding-top: 5px;
        }
    }

    .input-validation {
        display: flex;
        width: 100%;
        height: 50px;
        gap: 20px;
        margin: 12px 0;

        input[type="checkbox"] {
            display: none;
        }

        input[type="checkbox"] + label {
            display: block;
            position: relative;
            padding-left: 35px;
            margin-bottom: 20px;
            font-family: "Poppins", sans-serif;
            font-size: 15px;
            color: gray;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;

            @media screen and (max-width: 768px) {
                font-size: 12px;
            }

            @media screen and (max-width: 425px) {
                font-size: 10px;
            }

            @media screen and (max-width: 320px) {
                font-size: 8px;
            }
        }

        input[type="checkbox"] + label:last-child {
            margin-bottom: 0;
        }

        input[type="checkbox"] + label:before {
            content: "";
            display: block;
            width: 20px;
            height: 20px;
            border: 1px solid #3992ff;
            position: absolute;
            left: 0;
            top: 0;
            -webkit-transition: all 0.12s, border-color 0.08s;
            transition: all 0.12s, border-color 0.08s;
        }

        input[type="checkbox"]:checked + label:before {
            width: 10px;
            top: -5px;
            left: 5px;
            border-radius: 0;
            opacity: 1;
            border-top-color: transparent;
            border-left-color: transparent;
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
        }
    }

    .error-message {
        font-family: "Poppins", sans-serif;
        font-size: 13px;
        color: red;
    }

    .message-box {
        min-height: 110px;
    }

    .file-box {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin: 12px 0;

        input[type="file"]::file-selector-button {
            border: 1px solid #3992ff;
            color: #fff;
            padding: 10px 10px;
            border-radius: 5px;
            margin-right: 20px;
            background: #3992ff;
            font-size: 15px;
            cursor: pointer;
            transition: all 300ms;

            @media screen and (max-width: 425px) {
                font-size: 12px;
            }

            @media screen and (max-width: 320px) {
                font-size: 10px;
            }

            &:hover {
                background: #fff;
                color: #3992ff;
            }
        }

        input[type="file"],
        label {
            color: gray;
            font-family: "Poppins", sans-serif;

            @media screen and (max-width: 768px) {
                font-size: 14px;
            }

            @media screen and (max-width: 425px) {
                font-size: 12px;
            }

            @media screen and (max-width: 375px) {
                font-size: 10px;
            }
        }
    }

    .button {
        margin-top: 15px;
        display: flex;
        justify-content: center;

        .submit-btn {
            border: 1px solid #3992ff;
            color: #fff;
            padding: 10px 50px;
            border-radius: 5px;
            background: #3992ff;
            font-size: 15px;
            font-family: "Poppins", sans-serif;
            transition: all 300ms;
            cursor: pointer;

            @media screen and (max-width: 768px) {
                font-size: 14px;
            }

            @media screen and (max-width: 425px) {
                font-size: 12px;
            }

            @media screen and (max-width: 375px) {
                font-size: 10px;
            }

            &:hover {
                background: #fff;
                color: #3992ff;
            }
        }
    }

    .select-box {
        width: 100%;
        height: 50px;
        margin: 12px 0;
        position: relative;

        select {
            width: 100%;
            height: 100%;
            padding: 10px;
            font-size: 15px;
            font-family: "Poppins", sans-serif;
            outline: none;
            background: #f0f1f8;
            border: none;
            border-radius: 6px;
            cursor: pointer;
            color: gray;

            @media screen and (max-width: 768px) {
                font-size: 14px;
            }

            @media screen and (max-width: 425px) {
                font-size: 12px;
            }

            @media screen and (max-width: 375px) {
                font-size: 10px;
            }
        }
    }
}
