footer {
    .footer__main {
        background: #94c356;
        padding: 40px 0;

        > div {
            display: flex;
            justify-content: space-between;
            gap: 40px;

            @media screen and (max-width: 832px) {
                display: flex;
                justify-content: center;
                gap: 20px;
                flex-direction: column;
                align-items: center;
            }

            h2 {
                font-family: "Poppins", sans-serif;
                font-weight: 600;
                font-size: 18px;
                color: #323232;
                text-transform: uppercase;
                margin-bottom: 30px;


                @media screen and (max-width: 425px) {
                    font-size: 15px;
                }

                @media screen and (max-width: 320px) {
                    font-size: 12px;
                }
            }

            .main__menu {
                width: 33%;

                @media screen and (max-width: 832px) {
                    width: 100%;
                    text-align: center;
                }

                ul {
                    li {
                        margin-bottom: 10px;

                        a {
                            font-family: "Poppins", sans-serif;
                            font-weight: 400;
                            font-size: 14px;
                            color: #fff;

                            @media screen and (max-width: 425px) {
                                font-size: 12px;
                            }

                            @media screen and (max-width: 320px) {
                                font-size: 10px;
                            }
                        }
                    }
                }
            }

            .main__partners {
                width: 33%;

                @media screen and (max-width: 832px) {
                    width: 100%;
                    text-align: center;
                }

                .partners__list {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 15px;

                    @media screen and (max-width: 832px) {
                        justify-content: center;
                    }
                }
            }

            .main__infos {
                width: 33%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                @media screen and (max-width: 832px) {
                    width: 100%;
                }

                img {
                    width: 150px;
                }
            }
        }
    }

    .copyright {
        background: #94c356da;
        padding: 20px 0;

        > div {
            display: flex;
            justify-content: space-between;
            align-items: center;

            a {
                color: #fff;
                font-size: 15px;

                @media screen and (max-width: 425px) {
                    font-size: 12px;
                }

                @media screen and (max-width: 320px) {
                    font-size: 10px;
                }
            }
        }
    }
}
