.select2-container--default .select2-selection--multiple {
    background-color: #f0f1f8;
    font-family: "Poppins", sans-serif;
    border: none;
    border-radius: 4px;
    font-size: 15px;
    cursor: text;
    padding-bottom: 5px;
    padding-right: 5px;
    position: relative;

    @media screen and (max-width: 768px) {
        font-size: 13px;
    }

    @media screen and (max-width: 425px) {
        font-size: 11px;
    }

    @media screen and (max-width: 375px) {
        font-size: 10px;
    }
}

.select2-dropdown {
    background-color: #f0f1f8;
    font-family: "Poppins", sans-serif;
    color: gray;
    border: none;
    border-radius: 4px;
    font-size: 15px;
    box-sizing: border-box;
    display: block;
    position: absolute;
    left: -100000px;
    width: 100%;
    z-index: 1051;

    @media screen and (max-width: 768px) {
        font-size: 13px;
    }

    @media screen and (max-width: 425px) {
        font-size: 11px;
    }

    @media screen and (max-width: 375px) {
        font-size: 10px;
    }
}

.select2-container--default.select2-container--focus
    .select2-selection--multiple {
    border: none;
    outline: 0;
}

.select2-container--default
    .select2-selection--multiple
    .select2-selection__choice {
    background-color: #fff;
    border: 1px solid #aaa;
    color: #000000;
    border-radius: 4px;
    box-sizing: border-box;
    display: inline-block;
    margin-left: 5px;
    font-size: 15px;
    margin-top: 5px;
    padding: 5px;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: bottom;
    white-space: nowrap;

    @media screen and (max-width: 768px) {
        font-size: 13px;
    }

    @media screen and (max-width: 425px) {
        font-size: 11px;
    }

    @media screen and (max-width: 375px) {
        font-size: 10px;
    }
}

.select2-container--default
    .select2-selection--multiple
    .select2-selection__choice__display {
    cursor: default;
    padding-left: 20px;
    padding-right: 5px;
}

.select2-container--default
    .select2-selection--multiple
    .select2-selection__choice__remove {
    background-color: transparent;
    border: none;
    border-right: 1px solid #aaa;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    color: #999;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    padding: 0 4px;
    position: absolute;
    left: 0;
    top: 5px;
}
